.app-content-container {
  min-height: calc(100vh - 115px);
  min-width: calc(100vw - 30px);
  margin: 10px !important;
  padding: 10px !important;
  border: none;
}


.app-footer-container {
  position: fixed;
  width: 100%;
  bottom: 0;
  min-height: 20px;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
  padding: 0;
  background-color: grey;
}

