.ui.menu{
  margin: 0 !important;
}

.application-navbar{
  padding: 10px 10px !important;
  border-bottom: 1px solid grey !important;
}

@media (prefers-reduced-motion: no-preference) {
  .spin {
    animation: logo-spin-animation infinite 2s linear;
  }
}

@keyframes logo-spin-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

